
.langButton {
    background-color: transparent;
    font-size: 1.1rem;
}

.langContainer {
    display: flex;
    gap: 0.5rem;
    padding: calc(var(--navHeight)/2 - 0.7rem)  0.1rem;
}

@media (max-width: 800px){
    .langButton:active {
        color: #f1c40f;
    }
}

@media (min-width: 800px){
    .langButton:hover {
        color: #f1c40f;
    }
}

.home {
    color: white;
}

@media (max-width: 800px){
    .notHome {
        color: black;
    }
}

@media (min-width: 800px){
    .notHome {
        color: white;
    }
}