
.langButton {
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
    /* padding: 0.5rem 1rem; */
    /* border: none; */
}

.langContainer {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: calc(var(--navHeight)/2 - 0.7rem)  2rem;
}

.langButton:hover {
    color: #f1c40f;
}