.navButton {
    color: white;
    font-size: 1.1rem;
    width: 7rem;
    text-align: center;
}

.menuNavButton {
    text-align: left;
    font-size: 1.2rem;
}

@media (min-width: 800px){
    .navButton:hover {
        /* background-color: #f1f1f1 */
        color: rgba(255, 255, 255, 0.229);
        text-decoration: underline;
    }
    .requestButton:hover {
        background-color: rgb(0, 140, 255, 0.8);
        color: rgba(255, 255, 255, 0.521);
        /* text-decoration: underline; */
    }
}

@media (max-width: 800px){
    .requestButton:active {
        background-color: rgb(0, 140, 255, 0.8);
        color: rgba(255, 255, 255, 0.521);
    }
}
.navigation {
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 100; */
    /* height: var(--navHeight); */
    align-items: center;
    justify-content: flex-end;
    padding-left: 0;
}

.navigation.otherBg {
    background-color: rgb(76, 74, 74);
}

.navigation.homeBg {
    background-color: transparent;
}

.requestButton {
    background-color: rgb(0, 140, 255);
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem 1.3rem;
    border: none;
    border-radius: 20px;
    width: 10rem;
    text-align: center;
}

.mainContent {
    display: flex;
    flex-grow: 1;
}

.langContent{
    display: flex;
    gap: 0.5rem;
}

.menu{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    padding-top: 2rem;
    align-items: flex-start;
    /* background-color: black; */
}

.otherNav {
    color: black;
}

.homeNone {
    display: none;
}