.container {
    /* margin-top: var(--navHeight); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 100%;
}

.title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: x-large;
}

.map {
    /* width: 20rem; */
    /* height: 20rem; */
    width: 100%;
    height: 60vh;
    padding-top: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-top: 1rem;
    gap: 0.3rem;
}