.container {
    /* margin-top: var(--navHeight); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 100%;
}

.title {
    padding: 1rem;
    font-size: x-large;
}