.container {
    /* margin-top: var(--navHeight); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    padding: 1rem;
    font-size: x-large;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radioLabel {
    font-size: 0.85rem;
    margin-bottom: -10;
    padding: 0;
    /* color: black; */
}

.input {
    width: 16rem;
}
